<!-- <div align="center"> -->
	<h1>Signup!</h1>

	<%= form_for :user, url: '/users' do |f| %>

	  <!-- First Name: <%#= f.text_field :first_name %>
	  Last Name: <%#= f.text_field :last_name %>
	  Phone Number: <%#= f.text_field :phone_number %>
	  Email: <%#= f.text_field :email %>
	  Password: <%#= f.password_field :password %>
	  Password Confirmation: <%#= f.password_field :confirm_password %>
	  <%#= f.submit "Submit" %>
	 -->

		<div class="form-inputs">

		    <div class="form-group has-success has-feedback">
		      <%= f.label :first_name, class: "sr-only" %>
		      <%= f.text_field(:first_name, class: "form-control",required: true, placeholder: "Name") %>
		      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		    </div>

		    <div class="form-group has-success has-feedback">
		      <%= f.label :phone, class: "sr-only" %>
		      <%= f.text_field(:phone_number, class: "form-control", placeholder: "phone number") %>
		      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		    </div>

		    <div class="form-group has-success has-feedback">
		      <%= f.label :email, class: "sr-only" %>
		      <%= f.text_field(:email, class: "form-control",id: "email",required: true, placeholder: "Email") %>
		      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		    </div>

		    <div class="form-group has-success has-feedback">
		      <%= f.label :password, class: "sr-only" %>
		      <%= f.password_field(:password, type: "password",id: "password", required: true, class: "form-control", placeholder: "Password") %>
		      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		    </div>

		    <div class="form-group has-success has-feedback">
		      <%= f.label :confirm_password, class: "sr-only" %>
		      <%= f.password_field(:confirm_password, type: "password",id: "password",required: true, class: "form-control", placeholder: "Confirm Password") %>
		      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		    </div>
		</div>

		<div class="actions">
		  <%= f.submit %>
	  	</div>
	<% end %>
<!-- </div> -->

<!-- https://imvishaltyagi444.wordpress.com/2018/01/19/authentication-without-devise-in-rails/ -->